@import url('https://fonts.googleapis.com/css?family=Trade+Winds');
@import url('https://fonts.googleapis.com/css?family=Carter+One');
@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

*
{
  margin: 0;
}
.navBar
{
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 1350px;
}
.navBar img
{
  position: relative;
  top:20px;
  width: 150px;
  margin-top: -10px;
}
.navBar ul li
{
  display: inline-block;
  padding: 20px;
}
.navBar ul li:hover
{
  border-bottom: 4px solid #316699;
  color: #316699;
}
.navBar ul li:nth-child(5)
{
margin-left: 50%;
}
.navBar ul li a,
footer .social a,
footer .social,
.sosmed a,
.sosmed
{
  text-decoration: none;
  font-family: 'Carter One', cursive;
  color: #316699;
}
/* endNav */

/* header */
.header
{
  height: 700px;
  background: linear-gradient(167deg, #23fc7b, #23fc7b, #0b86ad,#009cff);
  background-size: 300% 300%;
  position: relative;
  animation: backgroundGradient 10s ease infinite;
  font-family: 'Boogaloo', cursive;
}
.header h1
{
  background: linear-gradient(180deg, #30CFD0 1%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Trade Winds', cursive;
  font-size: 50px;
  text-align: center;
  position: absolute;
  left: 35%;
  top: 15%;
}
.header .wrapper
{
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 70%;
  width: 300px;
  height: 250px;
  text-align:center;
}
.header .two{

  left: 540px;
}
.header .three{
  left: 80px;
}
.header img
{
  position: relative;
  width: 150px;
}
/* endheader */

/* main */
.Profile
{
  height: 630px;
}
.Profile h1,
.Product h1
{
  margin-top: 20px;
  text-align: center;
  font-family: 'Trade Winds', cursive;
  color: #2FB7E7;
  font-size: 50px;
}
hr
{
    background-color: #2FB7E7;
    height: 5px;
    width: 100px;
    margin-left: 46%;
    border-radius: 50%;
    border: none;
}
.Profile .images img
{
  /* background-color: red; */
  margin-left: 2%;
  width: 500px;
  height: 500px;
  background-color: yellow;
  display: inline-block;
}
.Profile .img img
{
  top:130%;
  left: 60%;
  position: absolute;
}
.Profile .wrapper
{
  top: 170%;
  margin-left: 520px;
  margin-right: 50px;
  text-align: center;
  position: absolute;
  font-family: 'Boogaloo', cursive;
}
.Profile .wrapper p:nth-child(1)
{
  width: 600px;
  margin-left: 15%;
  margin-bottom: 20px;
}
.Profile .wrapper p:nth-child(2)
{
  float: left;
  width: 400px;
  text-align: justify;
}
.Profile .wrapper p:nth-child(3)
{
  float: right;
  width: 380px;
  margin-left: 20px;
  text-align: center;
}
/* endMain */

/* Prouduct */
.Product
{
  height:700px;
}
.Product ul a,
.edites ul a
{
  width: 300px;
  height: 250px;
  list-style: none;
  display: inline-block;
  margin:-40px 10px;
  position: relative;
  float: left;
  top: 45px;
  color: #2FB7E7;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  border: 3px solid #E5E5E5;
  border-bottom: 10px solid #2FB7E7;
}
.Product ul a:nth-child(2n)
{
  margin-top: 80px;
}
.Product ul li span
{
  font-family: 'Boogaloo', cursive;
  background-image: linear-gradient(180deg,#f0f 0.2%,#00f 50%,#0ff 110%);
  opacity: 0;
  display: inline-block;
  position: absolute;
  transition: 0.5s;
  top: 10px;
  left: 0;
  color: #000;
  padding: 60px 20px;
  height: 190px;
  width: 260px;
}
span button,
.addProduct button
{
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #fff;
  background: none;
  cursor: pointer;
}
.Product ul li span:hover
{
  opacity: 1;
  transform: translateY(-10px);
}
footer .wrapper img{
  width: 1360px;
  position: relative;
  top: 70px;
  z-index: -1;
}
footer .social
{
  position: absolute;
  bottom: -330%;
  left: 35%;
  text-align: center;
  color: #ffff;
}
/* endproduct */


/* login */
.Bg
{
  background-color: #000000;
  height: 620px;
  width: 1352px;
  position: fixed;
  top: 0;
  z-index:2;
  opacity: 0.6;
}
.box
{
  height:230px;
  width: 300px;
  border: 3px solid #0689D0;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 75px;
  padding: 50px;
  margin: 70px 750px;
  outline: none;
  overflow: hidden;
  position: absolute;
}
.box h2
{
    display: block;
    text-align: center;
    margin-bottom: 30px;
    color: #0ff;
    font-size: 40px;
    font-family: 'Patua One', cursive;
}
.box input
{
  background: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  outline: none;
  color: #fff;
  font-size: 17px;
  width: 100%;
  height: 30px;
  margin: 0;
}
.box label
{
  position: absolute;
  color: #fff;
  margin-top: -30px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.5s;
}
.box input:focus ~ label,
.box input:valid ~ label
{
  margin-top: -50px;
  font-size: 12px;
  color: #0ff;
}
.box button
{
  padding: 20px;
  width: 120px;
  color: #ffff;
  position: absolute;
  top: 83%;
  left: 35%;
  cursor: pointer;
  background-color: #F57900;
  border: none;
  font-family: 'Patua One', cursive;
  border-top: 3px solid #0689D0;
}
.reg
{
    padding: 20px;
    width: 100px;
    display: inline-block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin-top: 13%;
    margin-left: 70%;
    font-family: 'Patua One', cursive;
    background-color: #4E9A06;
    border-top: 3px solid #0689D0;
}
.forget
{
  position: absolute;
  top: 83%;
  left: 3px;
  display: inline-block;
  padding: 20px;
  padding-right: 0;
  color: #fff;
  text-decoration: none;
  width: 130px;
  font-size: 15px;
  text-align: left;
  font-family: 'Patua One', cursive;
  border-top: 3px solid #0689D0;
  background-color: #3465A4;
}
.close
{
  display: inline-block;
  position: absolute;
  top: -20px;
  right:  -16px;
  text-decoration:none;
  color: #fff;
  border-radius: 100%;
  width: 20px;
  border: 3px solid #0689D0;
  padding: 20px;
  text-align: center;
  font-family: 'Patua One', cursive;
}
.register
{
  height:300px;
  width: 300px;
  border: 3px solid #0689D0;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 75px;
  padding: 50px;
  margin: 70px 930px;
  outline: none;
  overflow: hidden;
  position: absolute;
}
.registed
{
  width: 400px;
  position: absolute;
  left: -290px;
  top: 73%;
}
/* endLogin */


/* ADMIN */
.Admin
{
  margin-left: 5%;
}
/* navbar admin */
.navAdmin
{
  position:fixed;
  z-index: 2;
  background-color: #fff;
  border-right: 3px solid #D3D7CF;
  display: inline-block;
  width: 270px;
  height: 650px;
}
.dasboard
{
  width: 1110px;
  height: 550px;
  margin: 5% 19%;
  position: absolute;
  background-color: #EEEEEE;
}
.HomeAdmin
{
  height: 60px;
  width: 264px;
  display: inline-block;
}
.HomeAdmin:hover
{
    border-right: 10px solid #0ff;
    color: #0ff;
}
.home
{
  margin-top: 50%;
}
.home img,
.profile img,
.inbox img,
.myproduct img,
.page img
{
  float: left;
  margin-top: 5px;
  margin-left: 15px;
}
.inbox,
.profile,
.myproduct,
.page
{
  margin-top: 10px;
}

.navAdmin .img
{
  height: 130px;
  position: absolute;
  top: 15px;
  left: 5%;
  display: block;
}
.navAdmin .img img
{
  display: inline-block;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
}
.navAdmin .img h3,
.navAdmin span
{
  font-family: 'Patua One', cursive;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}
.navAdmin a
{
  text-decoration: none;
  color: #888A85;
}
.navAdmin h4
{
  text-align: center;
  padding: 20px 5px;
  border-top: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
}

/* end Navbar */

/* Info Project */
.review
{
  padding: 0 ;
  height: 120px;
  width: 970px;
  margin:2% auto;
  background-color: #fff;
  font-family: 'Patua One', cursive;
  box-shadow: -1px 5px 13px #000;
}
.review ul li
{
  display: inline-block;
  height: 100px;
}
.review ul span
{
  height: 90px;
  width: 120px;
  border-right: 3px solid #D3D7CF;
  display:inline-block;
  top:-5px;
  font-size: 20px;
  text-align: center;
  padding-top: -100px;
  padding-left: 0;
  margin-right: 0;
  position:relative;
}
.review ul li img
{
  position: relative;
  left: 5px;
  top: 10px;
}
.review ul span:nth-last-child(1)
{
  border: none;
}
/* end project */

/* about product */
.product
{
  background-color: #fff;
  height: 100px;
  width: 300px;
  border: 3px solid #fff;
  margin: 10px 65px;
  box-shadow: -1px 5px 13px #000;
}
.like,
.comment
{
  font-family: 'Patua One', cursive;
  text-align: center;
  margin-top: 1%;
  height:90%;
  width: 49%;
  border-right: 3px solid #D3D7CF;
  float: left;
}
.comment
{
  border: none;
}
.view
{
  margin-top: 18px;
  margin-left: -10px;
  overflow:auto;
  font-size: 14px;
}
.value
{
  text-align: right;
  width: 80%;
  padding-right: 20px;
}
.value img
{
  float:left;
  margin-top: -30px;
}
/* end about product */

/* Progress work */
.graphics
{
  box-shadow: -1px 5px 13px #000;
  background-color: white;
  height: 340px;
  width: 400px;
  position: absolute;
  top:33%;
  left: 40%;
  padding: 10px 99px;
  font-family: 'Patua One', cursive;
}
.graphics h1
{
  text-align: center;
}
.outline
{
  display: inline-block;
  width: 100%;
  padding: 3px;
  height: 20px;
  border-radius: 20px;
  border:1px solid #f0f;
}
.inline
{
  background-color: #f0f;
  text-align: center;
  width: 80%;
  height: 15px;
  padding: 2px;
  border-radius: 20px;
}
.small
{
  height: 5px;
  width: 50px;
  padding: 1px 1px;
}
.smally
{
  height: 1px;
}
.clients
{
  border: 1px solid #0ff;
}
.client
{
  width: 13%;
  background-color: #0ff;
}
.invoces
{
  border: 1px solid #fb0;
}
.invoice
{
  width: 40%;
  background-color: #fb0;
}
.orders
{
  border: 1px solid #0f0;
}
.order
{
  width: 53%;
  background-color: #0f0;
}
.members
{
  border: 1px solid #ff0;
}
.member
{
  width: 96%;
  background-color: #ff0;
}

/* page detail */
.details
{
  border: 3px solid #0ff;
  width: 80%;
  float: left;
  height: 450px;
  position: absolute;
  top: 10%;
  left: 10%;
  padding-left: 25px;
  box-shadow: 10px 10px 10px #000;
}
.details h1
{
  text-align: center;
    font-family: 'Boogaloo', cursive;
}
.details p
{
  width: 400px;
  position: absolute;
  top: 8%;
  right:3%;
  font-family: 'Carter One', cursive;
  font-size: 12px;
}
.details ul li
{
  list-style: none;
  font-family: 'Carter One', cursive;
  font-size: 12px;
  width: 300px;
  position: relative;
  background-color: #EEEEEC;
  bottom: 160px;
  left: 59%;
  box-shadow: 10px 10px 30px #000;
}
.footer
{
  position: absolute;
  bottom: -400px;
}
.sosmed
{
  position: absolute;
  top: 130%;
  left: 40%;
  text-align: center;
  text-decoration: none;
}
/* end Deteil */
/* profile admin */
.profiles
{
  background-color: #EEEEEE;
  height: 600px;
  width: 100%;
  position: absolute;
  top: 110%;
  padding-top: 30px;
}
.Photo
{
  background-color: #fff;
  box-shadow: 5px 5px 30px #000;
  width: 300px;
  height: 500px;
  margin-left: 22%;
  padding: 20px;
}
.Photo button
{
  padding: 10px;
  background: transparent;
  border: 3px solid #0ff;
  border-radius: 5px;
  position: absolute;
  top: 10%;
  margin-right: 12px;
}
.Photo button:nth-child(2n)
{
  top: 120px;
  background-color: #00f;
  color: #fff;
  border: none;
}
.skill
{
  width: 400px;
  height: 400px;
  margin-left: 10%;
  position: absolute;
  top: 5%;
}
/* end */
/* add product */
.Products
{
  background-color: #EEEEEEEE;
  width: 100%;
  height: 620px;
  position: absolute;
  top:210%;
}
.add
{
    width: 300px;
    height: 400px;
    background-color: #FFFF;
    position: absolute;
    box-shadow: 5px 5px 30px #000;
    margin-left: 25%;
    margin-top: 1%;
    text-align: center;
    padding: 10px;
    font-family: 'Patua One', cursive;
}
.addProduct
{
  text-align:left;
  width: 100%;
}
.addProduct input
{
  width: 97%;
  height: 25px;
  border: none;
  border-bottom: 3px solid #0ff;
  background-color: transparent;
  outline: none;
}
.addProduct button
{
  background-color: transparent;
  border: 2px solid #0ff;
  margin-top: 20px;




}
.addProduct textarea
{
  border: 3px solid #0ff;
}
/* edite */

.edites
{
  background-color: #ffff;
  width: 620px;
  height: 550px;
  position: absolute;
  top: 0;
  left: 110%;
  overflow: auto;
}
.edites span
{
  float: right;
  margin-right: 200px;
  font-size: 30px;
  font-family: 'Patua One', cursive;
  color:#000;
}
.edites .btn
{
  border: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  background-color: red;
  right: 15%;
  top: 20%;
}
.edites button[type="submit"]
{
  background-color: #0f0;
  border: none;
  cursor: pointer;
}
.edites .del{top: 32%}
.edites .inf{top: 60%}
.edites .info{top: 72%}
.edites .mov{top: 120%}
.edites .moving{top: 132%}
.edites .vid{top:168%}
.edites .video{top: 180%}
@keyframes backgroundGradient {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
